<footer class="footer container">
  <div>© 2025 Pharmaco Banigwa</div>
  <div class="social">
    <a href="https://www.youtube.com/@PharmacoBanigwa" target="_blank" rel="noreferrer">YouTube</a>
    <a href="https://www.instagram.com/pharmacobanigwa?igsh=MWtmcW54c2dha2ZuYw==" target="_blank" rel="noreferrer">Instagram</a>
    <a href="https://www.facebook.com/share/18VPAD1EbP/" target="_blank" rel="noreferrer">Facebook</a>
  </div>
</footer>
